<h2>Flight Number: <%= @flight.number %></h2>
<p>Date: <%= @flight.date %></p>
<p>Time: <%= @flight.time %></p>
<p>Departure City: <%= @flight.departure_city %></p>
<p>Arrival City: <%= @flight.arrival_city %></p>
<p>Airline: <%= @flight.airline.name %></p>

<p>Passengers:</p>
<% @flight.passengers.each do |passenger| %>
  <%= passenger.name %><br>
<% end %>

<p>Number of Minors: <%= @flight.all_minors.count %></p>

<p>Number of Adults: <%= @flight.number_of_adults.count %></p>
